.brd-rd {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0rem 5% 1.2rem;
}

.sm-bg-tp {
  width: 445px;
  overflow: hidden;
  position: relative;
  flex: 1;
  height: 520px;
  /* cursor: pointer; */
  transition: flex 0.5s ease-in-out, height 0.5s ease-in-out;
}

.hd-wr,
.ltr-gps {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.5px;
}

.ltr-gps {
  -webkit-line-clamp: 3;
}

.rd-mre-bn-blow {
  cursor: pointer;;
  text-align: center;
  background-color: hsla(0, 5%, 74%, 0.199);
  border-radius: 10px;
  font-weight: 600;
  color: white;
  font-size: clamp(0.75rem, 0.6418rem + 0.4807vw, 1.1rem);
  border: none;
  padding: 0.5rem 1.2rem;
  margin: 0.3rem 0;
}

.rnd-dk-rha-hu > h3,
.sht {
  font-size: clamp(1rem, 0.9382rem + 0.2747vw, 1.25rem);
  font-weight: 600;
  letter-spacing: 0.5px;
}

.pg-sm-cnt {
  font-size: clamp(0.9rem, 0.675rem + 1vw, 1.1rem);
  letter-spacing: 0.2px;
  width: 100%;
  margin-bottom: 0.4rem;
  /* width:420px; */

  margin-top: 0.4rem;
}
/* .pg-sm-cnt:hover{
  width: 400px;
} */

.dflex-algn-cntr {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.1rem;
}

.sb-fs-conte-pr {
  /* text-wrap: nowrap;
  overflow-x: hidden; */
  color: white;
  padding: 1.5rem;
  position: absolute;
  bottom: 5%;
  left: 0;
}

.visi {
  display: none !important;
}

.truncated-heading {
  display: block !important;
}

.hd-wr {
  -webkit-line-clamp: 2;
}

@media screen and (max-width: 944px) {
  .sb-fs-conte-pr {
    padding-bottom: 0.7rem;
    bottom: 0;
  }

  .sht {
    padding-bottom: 0.3rem;
  }

  .brd-rd {
    display: grid;
    grid-template-columns: 1fr;
  }

  .small-screen.sm-bg-tp {
    width: 100%;
    height: 125px;
    transition: height 0.5s ease-in-out;
  }

  .small-screen.sm-bg-tp:hover {
    height: 225px;
  }

  .sm-bg-tp:first-of-type {
    height: 225px;
  }

  .pg-sm-cnt {
    line-height: 18px;

  }

  .ltr-gps {
    -webkit-line-clamp: 2;
  }
}
