.blog-list-header{
  display: flex;
  justify-content: space-between;
}
.blog-img {
  min-width: 100px; /* Adjust as per your design */
  height: auto; /* Maintain aspect ratio */
}



.blg-lst-tble-whle{
  overflow-x: scroll;
}