.container-6 {
  justify-content: space-between;
  background-color: #f5f9fc;
  color: #003690;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.container-8 {
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #f5f9fc;
  color: #003690;
}
.column7 h4 {
  position: relative;
  font-weight: 400;
  font-size: 1.563rem;
}
.column6 p {
  background-color: #fff;
  margin: 1.2rem 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
  padding-left: 1.6rem;
  border-radius: 15px;
  position: relative;
  text-align: left;
}
.column6 p::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f58020;
  inset: 22px auto auto 10px;
}
.column7 h2 {
  font-size: 3.125rem;
  line-height: 1.2;
}
.column7 h4::after {
  content: "";
  position: absolute;
  height: 6px;
  width: 30%;
  background-color: #f58020;
  inset: auto auto -10px 0px;
}
.column6 {
  flex-basis: 60%;
}

@media screen and (max-width: 1024px) {
  .container-6 {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3rem;
    padding-top: 3rem;
  }
  .container-8 {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3rem;
    padding-top: 3rem;
  }
  .column7 h2 {
    font-size: 2.7rem;
  }
  .column7 h4 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .column7 h2 {
    font-size: 2.3rem;
  }
  .column7 h4 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .column7 h2 {
    font-size: 2rem;
  }
  .column7 h4 {
    font-size: 1rem;
  }
  .column6 p::before {
    width: 8px;
    height: 8px;
  }
}
